@font-face {
    src: url(/PastaAmore/css/KlinicSlabBold.otf);
    font-family: KlinicBold;
}
@font-face {
    src: url(/PastaAmore/css/KlinicSlabBook.otf);
    font-family: KlinicBook;
}
@font-face {
  font-family: GoudyOldStyle;
  src: url(/PastaAmore/css/GOUDOS.TTF);
}
@font-face {
  font-family: GoudyOldStyleBold ;
  src: url(/PastaAmore/css/GOUDOSB.TTF);
}

*{
    margin: 0;
    padding: 0;   
}

.wrapper{
  margin: 0 auto;
  width: 1200px;
  
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url("/PastaAmore/images/tomato_1600.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 300px;  
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 35px;
  position: relative;

}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-family: KlinicBold;
  font-size: xx-large;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #CF1C44;
  position: absolute;
  left: 0;
  bottom: -10px;  
  transition: 0.5s;
}
.navbar ul li:hover:after{
  width: 100%;

}
.content{
  
  margin-left: 3%;
  text-align: center;
  top: 55%;
  position: absolute;
  
  
}

.cta{
  position: relative;
    margin-left: 47%;
    margin-top: 10%;
    width: 500px;

}
  
.prep video{
  position: absolute;   
  top: 25%;
  margin-left: 3%;
  border-radius: 2rem;
  border: 3px solid #fff;
  
  
}
.footer{
  margin-top: 0;
  width: 100%;
  background: #5e1211;
  color: #fff;
  display: flex;
  position: relative;
  height: 175px;
  padding: 10px 0;
  

}
.footer div{
  text-align: center;
}
.col-2{
  flex-grow: .5;
}
.col-1{
  margin-left: 10%;
  padding-top: 50px;

}
.col-1 a{
  display: inline;
  text-decoration: none; 
  color: #fff;
  margin: 5px 25px;
  font-family: GoudyOldStyle;
  font-size: 25px;
  line-height: 35px;
  
  
}

.col-3{
  padding: 10px 0;
} 


h1{
    font-family: KlinicBold;
    font-size: 45px;
    color: #fff;
    line-height: 55px;
    
}
h2{
    font-family: GoudyOldStyle; 
    font-size: 30px; 
    color: #fff;
  }
h3 {
    font-family: GoudyOldStyle;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    padding: 5px 0;
}  
h4{
  font-family: GoudyOldStyle;
    font-size: 25px;
    color: #fff;
    line-height: 35px;
}
p{
    font-family: KlinicBook; 
    color:#fff;
    font-size: 25px;
    line-height: 35px;
}
